<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>HW3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>BDBstore</param-name>
    <param-value>/Users/peach/Documents/upenn/2015spring/cis555/db/db2</param-value>
  </context-param>

 <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/files/*</url-pattern>
 </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>XPathServlet</display-name>
    <servlet-name>XPathServlet</servlet-name>
    <servlet-class>edu.upenn.cis455.servlet.XPathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XPathServlet</servlet-name>
    <url-pattern>/XPathServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.upenn.cis455.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>edu.upenn.cis455.servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllChannelsServlet</display-name>
    <servlet-name>AllChannelsServlet</servlet-name>
    <servlet-class>edu.upenn.cis455.servlet.AllChannelsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllChannelsServlet</servlet-name>
    <url-pattern>/AllChannels</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyChannelsServlet</display-name>
    <servlet-name>MyChannelsServlet</servlet-name>
    <servlet-class>edu.upenn.cis455.servlet.MyChannelsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyChannelsServlet</servlet-name>
    <url-pattern>/MyChannels</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>edu.upenn.cis455.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateChannelsServlet</display-name>
    <servlet-name>CreateChannelsServlet</servlet-name>
    <servlet-class>edu.upenn.cis455.servlet.CreateChannelsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateChannelsServlet</servlet-name>
    <url-pattern>/CreateChannels</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChannelDisplayServlet</display-name>
    <servlet-name>ChannelDisplayServlet</servlet-name>
    <servlet-class>edu.upenn.cis455.servlet.ChannelDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChannelDisplayServlet</servlet-name>
    <url-pattern>/ChannelDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneChannelServlet</display-name>
    <servlet-name>OneChannelServlet</servlet-name>
    <servlet-class>edu.upenn.cis455.servlet.OneChannelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneChannelServlet</servlet-name>
    <url-pattern>/OneChannel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteChannelServlet</display-name>
    <servlet-name>DeleteChannelServlet</servlet-name>
    <servlet-class>edu.upenn.cis455.servlet.DeleteChannelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteChannelServlet</servlet-name>
    <url-pattern>/DeleteChannel</url-pattern>
  </servlet-mapping>
</web-app>